aside{
    background-color: #fff;
    width: 13%;
    border-right: 1px solid #e1e1e1;

}
nav{
    padding-top: 2.25rem;
    padding-left: 1rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
li{
    color: #3f4041;
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    
}
ul li a{
    font-size: 14px;
    margin-left: 0.5rem;
}
.icon-home {
    height: 1.25em;
    width: 1.25em;
    color: #3f4041;
}
      